#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# ignore key files
**/tmp

*.swp

# ignore ansible retry files
*.retry

# ignore IDE files
.idea/
